@(key: String, law: services.LawMetadata, currVer: String, diffVer: String, diffContent: Html)

@import utils.DateParam._

@main("LawLog :: "+law.meta.desc, "index") {
<div id="lawdiff-ajax-content" class="container">
    <div class="row">
        <div class="wrapper">
            <div class="side-bar">
                <ul>
                    <li class="menu-head">
                        Versijas
                    </li>
                    <div class="menu">
        @for( ( date, isoDt ) <- law.isoVersions ) {
            <li><a v-on:click.stop="loadLaw( '@key', '@isoDt' )" @if( currVer == date ) { class="active" }>@date</a></li>
        }
                    </div>

                </ul>
            </div>
            <div class="content">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">@law.meta.desc</div>
                        <div class="panel-body">

                            <div v-html="body_content">
                                @diffContent
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@tags.script.asset( "javascripts/law.js" )

}
